@page "/counter"

@* DON'T DELETE THIS PAGE, I HAVE NO IDEA WHY BUT IF YOU DELETE THIS THE PROGRAM WILL CEASE TO WORK *@
@* DON'T DELETE THIS PAGE, I HAVE NO IDEA WHY BUT IF YOU DELETE THIS THE PROGRAM WILL CEASE TO WORK *@
@* DON'T DELETE THIS PAGE, I HAVE NO IDEA WHY BUT IF YOU DELETE THIS THE PROGRAM WILL CEASE TO WORK *@
@* DON'T DELETE THIS PAGE, I HAVE NO IDEA WHY BUT IF YOU DELETE THIS THE PROGRAM WILL CEASE TO WORK *@
@* DON'T DELETE THIS PAGE, I HAVE NO IDEA WHY BUT IF YOU DELETE THIS THE PROGRAM WILL CEASE TO WORK *@
@* DON'T DELETE THIS PAGE, I HAVE NO IDEA WHY BUT IF YOU DELETE THIS THE PROGRAM WILL CEASE TO WORK *@
@* DON'T DELETE THIS PAGE, I HAVE NO IDEA WHY BUT IF YOU DELETE THIS THE PROGRAM WILL CEASE TO WORK *@

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge></p>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
