@page "/createnewvenue"
@inject NavigationManager navigation
@inject HttpClient httpClient

<h1>Create Venue</h1>

<EditForm Model="@newVenue" OnValidSubmit="CreateVenue">
    <label>Venue Name: </label>
    <input type="text" @bind="newVenue.VenueName" /><br />
    <label>Venue Location: </label>
    <input type="text" @bind="newVenue.Location" /><br />
    <label>Venue Capacity: </label>
    <input type="number" @bind="newVenue.Capacity" /><br />
    <label>Venue Rental Cost: </label>
    <input type="number" @bind="newVenue.RentalCost" /><br />
    <button type="submit">Create</button>
</EditForm>

@code {
    private Venue newVenue = new Venue();

    private async Task CreateVenue()
    {
        var response = await httpClient.PostAsJsonAsync("/api/Venue", newVenue);
        if (response.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/");
        }
    }
}
