@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Event Planner</h1>

<table class="fluent-table">
    <tr>
        <td>
            <FluentButton>Open</FluentButton>
            <FluentButton>Create</FluentButton>
            <FluentButton>Update</FluentButton>
            <FluentButton @onclick="NavigateToDelete">Delete</FluentButton>
        </td>
    </tr>
</table>

@code {
    private void NavigateToDelete()
    {
        NavigationManager.NavigateTo("/delete");
    }
}
