@page "/"
@inject HttpClient httpClient

<PageTitle>Home</PageTitle>

<h1>Event Planner</h1>

@code {
    private Event singleEvent = new Event();

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetAsync("/api/Event/{id}?eventid=1"); // Change the ID here

        if (response.IsSuccessStatusCode)
        {
            singleEvent = await response.Content.ReadFromJsonAsync<Event>();
        }
    }
}