@page "/"

<PageTitle>Home</PageTitle>

<h1>Event Planner</h1>

<table class="fluent-table">
    <tr>
        <td>
            <FluentButton>Open</FluentButton>
            <FluentButton>Create</FluentButton>
            <FluentButton>Update</FluentButton>
            <FluentButton>Delete</FluentButton>
        </td>
    </tr>
</table>