@page "/update/{eventId:int}"
@using EventPlanner


<h1>update Event</h1>

@if (currentEvent != null)
{
    <form @onsubmit="UpdateEvent">
        <label>Name:</label>
        <input type="text" @bind="currentEvent.Name" /><br />
        <label>Start Date:</label>
        <input type="date" @bind="currentEvent.StartDate" /><br />
        <label>End Date:</label>
        <input type="date" @bind="currentEvent.EndDate" /><br />
        <button type="submit">Save</button>
    </form>
}
else
{
    <p>Event not found!</p>
}

@code {

    [Parameter]
    public int EventId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }

    async Task UpdateEvent()
    {
       
    }
}


